name: tests

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '.github/ISSUE_TEMPLATE/**'
  push:
    paths-ignore:
      - '**.md'
      - '.github/ISSUE_TEMPLATE/**'
    branches:
      - main
      - 0.*.x
      - pr/**/ci

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    name: Unit Test, Clippy & Fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - run: cargo fmt --all -- --check
      - run: cargo build --all
      - run: cargo build --manifest-path "sea-streamer-file/Cargo.toml" --features executables
      - run: cargo test --all
      - run: cargo test --package sea-streamer-stdio --test '*' --features test -- --nocapture
      - run: cargo test --package sea-streamer-file --test '*' --features test,runtime-smol -- --nocapture
      - run: cargo test --package sea-streamer-file --test '*' --features test,runtime-tokio -- --nocapture
      - run: cargo clippy --features file,redis,kafka,stdio,socket,json -- -D warnings
      - run: cargo clippy --all

  kafka:
    name: Kafka
    runs-on: ubuntu-latest
    env:
      HOST_ID: DUMMY_HOST_ID
      RUST_LOG: rdkafka=trace
    strategy:
      fail-fast: false
      matrix:
        kafka_version: ['4.2.0', '3.9.2']
        runtime: [smol, tokio]
    services:
      kafka:
        image: apache/kafka:${{ matrix.kafka_version }}
        ports:
          - 9092:9092
        env:
          KAFKA_NODE_ID: 1
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
          KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --package sea-streamer-kafka --features test,runtime-${{ matrix.runtime }} -- --nocapture

  redpanda:
    name: Redpanda
    runs-on: ubuntu-latest
    env:
      HOST_ID: DUMMY_HOST_ID
      RUST_LOG: rdkafka=trace
    strategy:
      fail-fast: false
      matrix:
        redpanda_version: [latest]
        runtime: [smol, tokio]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: docker run -d -p 9092:9092 -p 9644:9644 redpandadata/redpanda:${{ matrix.redpanda_version }} redpanda start --overprovisioned --smp 1 --memory 1G --reserve-memory 0M --node-id 0 --check=false
      - run: cargo test --package sea-streamer-kafka --features test,runtime-${{ matrix.runtime }} -- --nocapture

  redis:
    name: Redis
    runs-on: ubuntu-latest
    env:
      HOST_ID: DUMMY_HOST_ID
    strategy:
      fail-fast: false
      matrix:
        redis_version: [latest]
        runtime: [smol, tokio]
    services:
      redis:
        image: redis:${{ matrix.redis_version }}
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --package sea-streamer-redis --no-default-features --features test,runtime-${{ matrix.runtime }} -- --nocapture
